body {
	background: $color-secondary;
	max-width: 320px;
	font-family: $font-stack;
	font-size: $main-font-size;
}

.wrapper {
	@include display-flex;
	@include align-items-center;
	position: fixed;
	height: 100%;
	width: 100%;
}

.main {
	height: 400px;
	width: 500px;
	background: $color-main;
}