.interests {
	display: inline-block;
	border: 1px solid $color-black;
	color: $color-third;
	padding: $padding-interests;
	margin: $margin;
}

.interests:hover {
	background: $color-hover;
	cursor: pointer;
	color: $color-main;
}

.new-interest {
	display: inline-block;
	border: 1px solid $color-black;
	background: $color-third;
	color: $color-main;
	padding: $padding-interests;
	margin: $margin;
}
