.content {
	@include display-flex;
}

.profile {
	&__avatar {
		background: url(images/userpic.png) top left no-repeat;
		width: 132px;
		height: 169px;
		background-size: contain;
	}

	&__btn {
		background: $color-orange;
		color: $color-main;
		height: 40px;
		border-radius: 5px;
	}
}

.wrap-about-user {
	@include display-flex;
	@include flex-column;
	padding: $padding-information;
	width: 100%;
	line-height: 1.5;

}

.user-info {
	&__details {
		@include display-flex;
	}

	&__name {
		font-weight: $font-weight-title;
		font-size: $big-font-size;
	}

	&__change-name-input,
	&__change-family-status-input,
	&__change-phone-input,
	&__change-email-input {
		display: none;
	}

	&__data {
		padding: $padding-data;
	}

	&__titles-details {
		width: 50%;
		font-weight: $font-weight-title;
	}

	&__city {
		color: $color-secondary;
	}

	&--text-style {
		text-decoration: underline;
		color: $color-link;
	}
}